*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calculator{
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cal{
    width: 300px;
    /* height: 500px; */
    border: 1px solid black;
    overflow: hidden;
    border-radius: 10px;
    background-color: black;
}

.c1{
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 25px;
}

.c2{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid black;
    background-color: white;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    font-size: 25px;
    padding: 10px;
}

.c2 p{
    transition: all 0.5s;
}

.c3{
    padding: 10px;
}

.cc1{
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
}

button{
    width: 55px;
    height: 40px;
    border-radius: 10px;
    font-size: 16px;
}

.purple{
    background-color: #B283BD;
}